{% extends 'master.html' %}
{% load static %}

{% block title %}
  Open Branch
{% endblock %}

{% block content %}
  {% include 'nav.html' %}

  <div class="container text-center d-flex justify-content-center align-items-center mt-5">
    <div class="row ">
      <div class="col-md-12">
        <h1>Open Branch</h1>
      </div>
      <div class="col-md-12">
        <table class=" d-flex justify-content-center align-items-center mt-5 table table-bordered table-responsive table-striped">
          <tr>
            <th>Branch No.</th>
            <th>Street</th>
            <th>City</th>
            <th>Postal Code</th>
            <th>Action</th>
          </tr>
          <form action="{% url 'open_branch' %}" method="POST">
            {% csrf_token %}
            <tr>
              <td><input type="text" name="branchno" id="branchno"></td>
              <td><input type="text" name="street" id="street"></td>
              <td><input type="text" name="city" id="city" ></td>
              <td><input type="text" name="postalcode" id="postalcode"></td>  
              <td>
                <input type="hidden" name="branchno">
                <button class="btn btn-primary" type="submit">Save</button>
              </td>
            </tr>
          </form>

        
        <tr>
          <td colspan="5">
            {% if update_success %}
               <p id="success-message" class='mt-2'>
                  Updated Successfully!
              </p>
              <script>
                setTimeout(function() {
                  var element = document.getElementById('success-message');
                  element.style.display = 'none';
                }, 3000);
              </script>
            {% endif %}  
          </td>
          
        </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
